- const userImages = ["user1.jpg","user2.jpg","user3.jpg","user4.jpg","user5.jpg","user1.jpg"]
- const pathToAssets = "assets/images/"
- const workTextualItems = [
-{
- title:"Occupation",
- content:"Online projects"
-},
-{
- title:"Introduction",
- content:"Put a little bit about yourself here so people know they’ve found the corrent Adi."
-},
-{
- title:"Bragging rights",
- content:"Examples: Survived secondary school, have 3 kids, etc."
-}
-]
- const storyTextualItems = [
-{
- title:"Tagline",
- content:"A brief description of you"
-},
-{
- title:"Introduction",
- content:"Put a little bit about yourself here so people know they’ve found the corrent Adi."
-},
-{
- title:"Bragging rights",
- content:"Examples: Survived secondary school, have 3 kids, etc."
-}
-]

section(class="about tab")
  div(class="info-container about__contacts")
    div(class="container-header")
      div(class="container-header__bar container-header__bar--light-blue")
      h2(class="container-header__title") People
    div(class="textual-item")
      h3(class="textual-item__title") In your circles
      p(class="textual-item__content") You havent added anyone or you’re not displaying this.
    div(class="contacts-photo")
      div(class="contacts-photo__container")
        h3(class="contacts-photo__title") Have you in circles
        button(class="button contacts-photo__expand") View all (66)
      ul(class="contacts-photo__list contacts-list")
        -for(let i =0; i< userImages.length; i++){
          li(class="contacts-list__item")
            img(class="contacts-list__image" src=`${pathToAssets+userImages[i]}`, alt="contacts")
        -}
    div(class="container-footer")
      button(class="button button--action container-footer__button") Edit

  div(class="info-container about__work")
    div(class="container-header")
      div(class="container-header__bar container-header__bar--violet")
      h2(class="container-header__title") Work
    -for(let i = 0; i<storyTextualItems.length; i++){
      div(class="textual-item") 
        div(class="textual-item__titile") #{storyTextualItems[i].title}
        div(class="textual-item__content") #{storyTextualItems[i].content}
    -}
    div(class="container-footer")
      button(class="button button--action container-footer__button") Edit

  div(class="info-container about_story")
    div(class="container-header__bar container-header__bar--cyan")
    h2(class="container-header__title") Story
    -for(let i = 0; i<workTextualItems.length; i++){
      div(class="textual-item") 
        div(class="textual-item__titile") #{workTextualItems[i].title}
        div(class="textual-item__content") #{workTextualItems[i].content}
    -}
    div(class="container-footer")
        button(class="button button--action container-footer__button") Edit


  div(class="info-container about__education")
    div(class="container-header")
      div(class="container-header__bar container-header__bar--light-orange")
      h2(class="container-header__title") Edocation
    div(class="textual-item")
      h3(class="textual-item__title") In your circles
      p(class="textual-item__content") You havent added anyone or you’re not displaying this.
    div(class="contacts-photo")
      div(class="contacts-photo__container")
        h3(class="contacts-photo__title") Have you in circles
        button(class="button contacts-photo__expand") Have you in circles
      ul(class="contacts-photo__list contacts-list")
        -for(let i = 0; i< userImages.length; i++){
          li(class="contacts-list__item")
            img(class="contacts-list__image" src=`${pathToAssets+userImages[i]}`, alt="contacts")
        -}
      div(class="container-footer")
        button(class="button button--action container-footer__button") Edit
